/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

h1{
    margin-bottom: 0px;
}

h2{
    margin-top: 0px;
}

li{
    list-style-type: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/*********** HEADER **********/
.nav-menu{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 55.125px;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#Booki-logo{
    width: 80px;
    height: fit-content;
    padding-top: 30px;
}

.menu li a{
    border-top: 2px solid white;
}

.menu li a:hover{
    border-top: 2px solid #0065fc;
    color: #0065FC;
}

header li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: large;
}

header a{
    display: flex;
    align-items: center;
    height: 100%;
}

.intro h3{
    color:#000000;
    font-weight: 400;
    margin-top: 8px;
}


/************** Search-Bar *************/
.research{
    margin-top: 70px;
}

.research h2{
    font-size: large;
    font-weight: lighter;
    margin-top: 5px;
}

.research form{
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    margin: 35px 0px 35px 0px;
    flex-direction: row;
}

.research form i, input{
    margin: 0px;
    border: none;
    font-size: large;
    font-weight: bolder;
}

.research form i{
    background-color: #F2F2F2;
    color: #000000;
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    
}

#search{
    width: 200px;
    text-align:start;
    padding-left: 15px;
}

.search-btn{
    border-radius:0 15px 15px 0;
    background-color: #0065fc;
    color: #ffffff;
    
}

.search-btn:hover{
    cursor: pointer;
}

.fa-magnifying-glass{
    display: none;
    background-color: #0065FC;
    color: #ba6363;
    border-radius: 15px;
}


/**************Filter*************/

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.filter-types{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 0.9fr 1.1fr;
    gap: 20px;
    padding-left: 15px;
}

.filter-types li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    padding: 10px 10px ;
}

.filter-types li i{
    margin-right: 5px;
}

.filter-types li:hover{
    cursor: pointer;
    background-color: #deebff;
}


/**************** Infos ****************/
.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 30px 0;
   
}

.info-logo{
    align-content: center;
    text-align: center;
    border: 1.5px solid #d9d9d9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.info-logo i{
    color: #0065fc;
    font-size: small;
}

.info p{
    font-weight: lighter;
    padding-left: 2%;
    width: 90%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

/***************** Hébergements Cards ******************/
.hebergements-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 33px;
}

.hebergements-cards a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hebergement-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    height: 100%;
    padding: 4px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 0px;
}

.hebergement-card img{
    width: 100%;
    height: 56%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.description-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description-card h3, p{
    margin: 5px;
}



.description-card, .card-rating{
    margin: 5px;
    font-size: small;
}

#more-info{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*************** Activités *************/
#activités{
    margin-top: 85px;
    margin-bottom: 50px;
}

.activités h2{
    margin-left: 15px;
}

.activités-cards{
    display: flex;
    flex-direction: row;
}

.activités-cards a{
    margin: 10px; 
}

.activité-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 310px;
    height:90%;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 3px;
}

.activité-card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.activité-card figcaption{
    padding-left: 15px;
    align-self: flex-start;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: large;
}



/************** Footer ***************/

footer nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #f2f2f2;
    margin-top: 20px;
    padding: 10px 20px;
}

footer ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
}

footer ul li{
    margin: 8px 0 8px 0;
}

li h3{
    margin: 0px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .filter{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        font-size: medium;
    }


    .filter-types{
        justify-content: space-between;
    }

    .filter-types li{
        padding: 10px 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités-cards a{
        width: 100%;
        max-height: 220px;
    }

    .activité-card{
        font-size: small;   
        height: 100%;
    }

    .activité-card img{
        height: 74%;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 768px) {
    .main-container{
        padding: 0px;
    }

    header{
        width: 100%;
    }

    header{
        flex-direction: column;
        align-items: center;
    }

    .nav-menu{
        margin-top: 20px;
        width: 100%;
        
    }

    .menu{
        justify-content: center;
        padding: 0px;
    }

    .menu li{
        width: 100%;
        align-items: center;
        border-bottom: 2px solid #f2f2f2;
    }

    .menu li:hover{
        border-bottom: 2px solid #0065fc;
    }

    .menu li a:hover{
        border-top: transparent;  
    }


    .intro h3{
        font-size: medium;
    }

    .research{
        margin-top: 35px;
        padding: 0px 20px;

    }

    .search-bar{
        width: 100%;
    }

    .search-bar form{
        width: 100%;
    }

    .search-bar form label{
        text-align: center;
        align-content: center;
        width: 20%;
        background-color: #F2F2F2;
        border-radius: 15px 0px 0px 15px;
    }

    #search{
        width: 80%;
    }

    .search-btn{
        display: none;
    }

    #search-icon{
        text-align: center;
        align-content: center;
        width: 20%;
        height: 48px;
        border-radius: 15px;
        background-color: #0065FC;
        filter: drop-shadow(0px 4px 2px #b7b4b4);
    }

    #search-icon i{
        display:contents;
        color: var(--main-bg-color);
    }

    .filter{
        flex-direction: column;
    }

    .filter span{
        align-self: flex-start;
    }

    .filter-types{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;
        gap: 20px 10px;
        font-size: 14px;
        padding: 0px;
        width: 100%;
    }

    .filter-types li{
        justify-content: flex-start;
        align-items: center;
    } 

    .filter-types i{
        font-size: 21px;
        margin: 0px 13px 0px 8px;
    }

    .info{
        margin-top: 20px;
    }

    .info p{
        font-size: 0.96em;
    }

    .hebergements-and-populaires{
        flex-direction: column-reverse;
        width: 100%;
        background-color: #f2f2f2;
    }

    .hebergements-and-populaires section{
        border-radius: 0px;
        padding: 20px;
    }

    .populaires{
        width: 100%;
    }

    #hebergements {
        width: 100%;
        margin: 0px;
        background-color: #ffffff;
    }

    .hebergements-cards{
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        gap: 20px;
    }

    #activités{
        margin-top: 40px;
        padding: 0 30px 0 30px;
    }

    .activités-cards{
        flex-direction: column;
        
    }

    .activités-cards a{
        height: 210px;
        margin: 7px 0 7px 0;
    }

    .activité-card{
        max-width: 100%;
        height: 100%;
    }

    .activité-card img{
        height: 70%;
    }

    .activité-card h3{
        font-size: large;
        padding-left: 18px;
    }

    footer nav{
        flex-direction: column;
    }

    footer nav ul{
        width: max-content;
    }
}