/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

h1{
    margin-bottom: 0px;
}

h2{
    margin-top: 0px;
}


li{
    list-style-type: none;
}

/*********** HEADER **********/
.nav-menu{
    width: 300px;
}

.header-top, .menu{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#Booki-logo{
    width: 80px;
    height: fit-content;
    padding-top: 30px;
}

.header-top li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    font-size: large;
}

.header-top a:focus{
    border-top: 2px solid #0065fc;
    color: #0065FC;
}

.intro h3{
    color:#000000;
    font-weight: 400;
    margin-top: 8px;
}


/************** Search-Bar *************/
.research{
    padding-top: 20px;
}

.search-bar{
    width: fit-content;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.search-bar i, input{
    padding: 15px;
    margin: 0px;
    border: 0px;
    font-size: large;
    font-weight: bolder;   
}
.search-bar i{
    color: #000000;
}

#search{
    width: 200px;
    text-align: center;
}

.search-btn{
    border-radius:0 15px 15px 0;
    background-color: #0065fc;
    color: #ffffff;
}


/**************Filter*************/

.filter, .filter-types{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-weight: bold;
}


.filter-types{
    justify-content: space-evenly;
    width: 740px;
    padding: 0px;
}

.filter-types li{
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    padding: 10px 20px ;
}

.filter-types li:hover{
    cursor: pointer;
    background-color: #deebff;
}


/**************** Infos ****************/
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.info-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #d9d9d9;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 10px;
}

.info-logo i{
    color: #0065fc;
}

/***************** Hébergements Cards ******************/
.hebergements-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 20px;
}

.hebergements-cards a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hebergement-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    height: 92%;
    padding: 4px;
    box-shadow: 0px 0px 5px 2px rgb(209, 204, 204);
}

.hebergement-card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.description-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description-card h3, p{
    margin: 5px;
}

.description-card .card-rating{
    margin: 5px;
    font-size: large;
}

#more-info{
    font-size: 20px;
}
/************************************/

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*************** Activités *************/

.activités-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.activité-card{
    display: flex;
    flex-direction: column;

    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgb(209, 204, 204);
}

.activité-card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.activité-card h3{
    padding-left: 10px;
}

/************** Footer ***************/

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: #f2f2f2;
    margin-top: 80px;
    padding: 10px 20px;
}

footer section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
}

footer section ul{
    padding: 0px;
}

footer ul li{
    margin: 15px 0 15px 0;
}

li h3{
    margin: 0px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}